<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<style type="text/css"></style>



	<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
	<!-- font-family: 'Roboto', sans-serif; -->

	<!-- VUE Dev Version -->
	<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" type="text/javascript"></script>  -->
	<!-- VUE Production Version -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js" type="text/javascript"></script>
	
	
	<script src="https://unpkg.com/axios/dist/axios.min.js" type="text/javascript"></script>
	<script src="https://momentjs.com/downloads/moment.min.js" type="text/javascript"></script>
	
	<!-- D3 Production Version -->
	<script src="https://d3js.org/d3.v5.min.js" type="text/javascript"></script>
	<!-- D3 Local Version -->
	<!-- <script src="d3/d3.js"></script> -->



	<!-- HOOTY MINIFY STUFF -->
	<!-- HOOTY MINIFY STUFF -->
	<!-- HOOTY MINIFY STUFF -->
	<!-- HOOTY MINIFY STUFF -->
	<!-- HOOTY MINIFY STUFF -->
	<!-- <link rel="stylesheet" type="text/css" href="static/style.css" />
	<script src="static/hf.js" type="text/javascript"></script>
	<script src="static/client.js" type="text/javascript">	</script> -->

	<link rel="stylesheet" type="text/css" href="static/style.min.css" />
	<script src="static/hf.min.js" type="text/javascript"></script>
	<script src="static/client.min.js" type="text/javascript">	</script>


	<link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
	<link rel="icon" href="static/favicon.ico" type="image/x-icon">


	<title>PUBG Trees</title>
	<meta name="description" content="Search your recent PUBG games for match details about damage and kills.">

</head>


<center>
	<div class='top-boxes' style='width:700px; margin-bottom: 180px;'>

		<a href='https://www.pubgtrees.com'>
			<div class='cube' style='width: 320px; height: 130px; float: left;'">
				<!-- <a href='https://www.pubgtrees.com' style='font-size: 24px;'>PUBG Trees</a>	 -->
				<div style="font-size: 24px; font-weight: bold; text-decoration: underline; margin-top: 30px;">PUBG Trees</div>
				<div style='font-size: 14px; font-weight: normal;'>
					built by hooty__
					<br>
					version 0.031
				</div>
				<br>
			</div>
			</a>

		<div class="cube" style='width: 320px; height: 130px; float:right'>
			<br>
			<img src='static/images/twitter-icon-purple-40x40.png' style='cursor: pointer; margin-top: 10px;' onclick='openTwitter();'>
			<br>
			<br>
			pubgtrees@outlook.com
			<br>
			<br>
		</div>

		<br>

	</div>
</center>


<body>


<!--
    font-family: 'Roboto Condensed', Calibri, sans-serif;
    font-size: 14px;

	div {
	border:1px; 
	border-color:#d0d0d0; 
	border-style:solid;
}
-->




<div id='search-div'>

	<br>
	<br>


	<!--
	<input type="radio" name="platform" id="rdoSteam" value="steam" checked>Steam
	<input type="radio" name="platform" id="rdoPS4" value="psn">PS4
	<input type="radio" name="platform" id="rdoXbox" value="xbox">Xbox
	<input type="radio" name="platform" id="rdoConsole" value="console">Console
	<br>
	<br>
	-->

	<div id='test-version-indicator'>
	<span style='font-weight: bold; font-size: 20px; color:#60b6f0'>TESTING VERSION</span>
	</div>

	<select id="slcPlatform" style='width: 100; height: 26px; margin-top: 10px;'>
		<option value="psn">PS4</option>>
		<option value="stadia">Stadia</option>>
		<option value="steam" selected="selected">Steam (PC)</option>
		<option value="tournament">Tournament</option>>
		<option value="xbox">Xbox</option>>
	</select>
	
	<input  id="inputPlayerName" placeholder="Enter a player's name and click search..." style='width: 320; height: 26px';>
	<button id="btnSearchPlayer" style='width: 100;'>Search</button>

	<br>
	<input type="checkbox" id="checkbox-setDefault" name="default" style='margin-top: 10px;'>
	<label for="checkbox-setDefault" id='lblDefault'>Set as default player</label>

	<br>
	<br>
	<br>
	
</div>




<div id="fetching" style="display:none;">
	<br>
	fetching...
</div>




<div id='vueapp' style="display:none;">
	<br>

	<center>

	<table>
		<thead>
			<tr>
				<th>Age</th>
				<th>Humans</th>
				<th>Type</th>
				<th>Map</th>
				<th>Mode</th>
				<th>Place</th>
				<th style="padding: 4px;">Dmg</th>
				<th style="padding: 4px;">Kills</th>
				<th style="padding: 4px;">Knocks</th>
				<th>Team</th>
				<!-- <th>Inspect</th> -->
			</tr>
		</thead>
		<tbody>
			<tr class='matchRow'
				v-for='(match, index) in match_data' :match_prop='match' :key='match.matchId' :id="'matchRow' + index"
				v-on:click="analyzeMatch(match.matchId, index)"
			> 					
				<td style="border-radius: 6px 0px 0px 6px; text-align:center; width: 80px;">{{match.timeSinceMatch}}</td> 
				<td style="text-align:center; width: 50px">{{match.participantCount}}</td>
				<td style="text-align:center; width: 80px">{{resolveMatchType(match.matchType)}}</td>
				<td style="text-align:left; width: 60px">{{match.mapName.toUpperCase()}}</td>
				<td style="text-align:center; width: 80px">{{match.gameMode.toUpperCase()}}</td> 

				<td style="text-align:center; width: 50px">#{{match.winPlace}}</td> 
				<td style="text-align:center; width: 50px">{{match.damageDealt}}</td> 
				<td style="text-align:center; width: 50px">{{match.kills}}</td> 
				<td style="text-align:center; width: 50px">{{resolveKnocks(match.gameMode, match.DBNOs)}}</td> 

				<td style="text-align:left; border-radius: 0px 6px 6px 0px; text-align:left; padding-right: 14px;">{{printRoster(match.teamRoster, match.strPlayerName)}}</td>
				<!-- <td style="border-radius: 0px 6px 6px 0px; text-align:left;"> 
					<button v-on:click="analyzeMatch(match.matchId, index)"
							style='width: 60; margin-left: 10; margin-right: 10'>View</button> 
				</td> -->
			</tr>
		</tbody>
	</table>

	<br>

	<p>* Match data is not available until a few minutes after it finishes. *</p>
	

	<table>
		<tr> 
			<td><button id="btnPreviousMatches" style="display:none; width: 160; margin-right: 10;">Previous matches</button></td> 
			<td><button id="btnNextMatches"     style="display:none; width: 160; margin-left:  10;">Next matches</button></td>  
		</tr>
	</table>
	<br>

	</center>
</div>


<div id='div-analyzing' style='display: none'>
	<br>
	analyzing...
</div>



<!-- <div id='d3-tree01' style='display: none; height: 800; width: 1240; overflow: auto'>
	<svg id='d3-svg01' style='height: 2000; width:3000; overflow: auto;'></svg>
</div> -->
<div id='d3-tree01' style='display: none; width: auto; overflow: auto;'>
	<center>


		<br>
		<table>
		<tr class='matchRow' style="cursor: auto;"> 
			<td style="border-radius: 6px 0px 0px 6px; text-align:center; width: 80px;">{{createdAt}}</td>
			<td>{{mapName}}</td>
			<td>{{gameMode}} </td>
			<td>{{duration}}</td>
			<td>{{participantCount}} humans</td>
			<td style="border-radius: 0px 6px 6px 0px; padding-right: 14px;">{{matchType}}</td> 
		</tr>
		</table>


		<div id='div-d3-tree' style="overflow: auto;">
			<br>
			Click a player for match details...
			<br>
			<svg id='d3-svg01'>
			</svg>

			<svg id='svg02' height='300' width=300 style='display: none;'>
				<rect id='selectedPlayerRectangle' x="10" y="10" width="144" height="18" fill="#303032" rx='8' ry='8'/>
				<!-- <rect id='killerRectangle' x="10" y="30" width="140" height="18" fill="#1b1b1b" rx='4' ry='4'/> -->
			</svg>

			<br>
			<button id="btnCopyMatchURL" style='width: 120;'>Copy match URL</button>
		</div>


		<div id='div-cycle-footnote'>
			<br>
			<span>** Cycled kills occur if two players kill each other. If they kill each other, they are removed 
				from the normal flow of kills since they derive from each other and that is a loop, not a branch.</span>
			<br>
		</div>

		<br>
		<br>
		Here's what the colors mean...
		<div style='text-align: left;
					width: 300px; 
					background-color: #373738; 
					border-radius: 10px; 
					padding-left: 10px;
					padding-right: 10px;
					border: 1px solid #60b6f0'>
			<table style='padding-left: 10px; padding-right: 10px; padding-top: 8px; padding-bottom: 8px;
							font-family:Roboto Condensed;
    						font-size: 14px;
    						font-weight: bold;'>
				<tr> <td><span class="selectedPlayer">Selected player</span></td> 		<td><span class="killer">Player's killer</span></td>  </tr>
				<tr> <td style="width: 120px;"><span class="playerTeammate">Player's teammates</span></td> 	<td style="width: 120px;"><span class="killerTeammate">Killer's teammates</span></td>  </tr>
				<tr> <td><span class="humanPlayers">Human players</span></td> 			<td><span class="botPlayers">Bot players</span></td>  </tr>
				<tr> <td><span class="winner">Winners</span></td>				<td><span class="searchedPlayer">Searched player</span></td> </tr>
			</table>
		</div>

		<br>


	</center>
</div>

<br>

<div id='div-modal'>
	<div id='player-report' style='margin-top: 80px; margin-bottom: 80px; width:960px; display:inline-block;'>
		<span id='btnCloseModal'>&times;</span>

		<center>

		<br>
		<br>
		
		<div id='botReportDisclaimer' style="width: 580px; border: 1px solid #60b6f0; border-radius: 4px; padding: 4px;">
			<span style="font-style: italic; font-size: 16px; color: #60b6f0;">
				Hey read this! 
				<br>
				<br>
				Collected data for bots may be inaccurate so don't rely too much on anything shown here. 
				<br>
				I'd rather not show any bot information but here it is anyway as a best effort. 
			</span>			
		</div>

		<div id='div-reportStats' style='background-color: #67676b; width: 760px; border: 1px solid #60b6f0; border-radius: 6px;'>

			<center>
			<table>
				<tr>
					<td>
						<div style="display: inline;">
							<span class='spanBoxy spanBoxyName' :class='{ winner : isWinner }'style="height: 48px; text-align: center; font-size: 38px;  ">{{selectedPlayer}}</span>
						</div>
					</td>

					<td>
						<div style='display: inline;'>
							<span class='spanBoxy' :class='{ winner : isWinner }' style='width: 148px;'>Placement: #{{winPlace}}</span> 
							<span class='spanBoxy' :class='{ winner : isWinner }' style='width: 147px;'>Time survived: {{timeSurvived}}</span>
							<br>
							<span class='spanBoxy' style='width: 88px;'>Kills: {{kills}}</span>
							<span class='spanBoxy' style='width: 88px;'>Knocks: {{DBNOs}}</span>
							<span class='spanBoxy' style='width: 88px;'>Damage: {{damageDealt}}</span>
							<br>
							<span class='spanBoxyShots' style='width: 88px;'>Head: {{headPercentage}}%</span>
							<span class='spanBoxyShots' style='width: 88px;'>Body: {{bodyPercentage}}%</span>
							<span class='spanBoxyShots' style='width: 88px;'>Pelvis: {{pelvisPercentage}}%</span>
							<br>
							<span class='spanBoxyShots' style='width: 88px;'>Arm: {{armPercentage}}%</span>
							<span class='spanBoxyShots' style='width: 88px;'>Leg: {{legPercentage}}%</span>

						</div>
					</td>
				</tr>
			</table>
			</center>
		</div>

		<br>

		<center>
			<table>
				<thead>
					<tr>
						<th style="width: 40px;">Time</th>
						<th style="width:130px; text-align: right;">Attacker</th>
						<th :class="{ tdHidden: isHidden}">Hlth</th>
						<th style="text-align: center;">Dmg</th>
						<th :class="{ tdHidden: isHidden}">Hlth</th>
						<th style="width: 130px; text-align: left;">Victim</th>
						<th>Weapon</th>
						<th style="width: 40px;" :class="{ tdHidden: isHidden}">Dist</th>
						<th :class="{ tdHidden: isHidden}"></th>
						<th>Info</th>
						<th>Zone</th>
					</tr>
				</thead>
		
				<tbody>
					<tr class='reportRow'
						:class='reportRow.rowClass'
						v-for='(reportRow, index) in arrPlayerReport' :key='reportRow.id'
					>
						<td style='border-radius: 6px 0px 0px 6px; text-align: center;'>{{reportRow.matchTime}}</td>
						<td :class='reportRow.attackerClass' style='text-align: right; font-weight: bold;'>{{reportRow.attacker}}</td>
						<td style='text-align: center;' :class="{ tdHidden: isHidden}">{{reportRow.attackerHealth}}</td>
						<td style='text-align: center; font-weight: bold;'>{{reportRow.event}}</td>
						<td style='text-align: center;' :class="{ tdHidden: isHidden}">{{reportRow.victimHealth}}</td>
						<td :class='reportRow.victimClass' style='font-weight: bold;'>{{reportRow.victim}}</td>
						<td>{{reportRow.damagerInfo}}</td>
						<td style='text-align: right;' :class="{ tdHidden: isHidden}">{{reportRow.distance}}</td>
						<td style='text-align: center;' :class="{ tdHidden: isHidden}"><img :src='reportRow.armor'></td>
						<td style='text-align: left;'>{{reportRow.info}}</td>
						<td style='border-radius: 0px 6px 6px 0px; text-align: left; padding-right: 10px;'>{{reportRow.zone}}</td>
					</tr>
				</tbody>
			</table>
		</center>

		<br>
		

		<!-- <span class='spanBoxy'>╳ &ensp; Kill</span>
		<span class='spanBoxy'>▼ &ensp; Knock</span>
		<span class='spanBoxy'>∧ &ensp; Revive</span>
		<br> -->


		<div>
			<!-- <input type="checkbox" id="checkbox-outgoing" name="outgoing" checked>
			<label for="outgoing">Show outgoing damage</label> -->

			<input type="checkbox" id="checkbox-incoming" name="incoming" style='display: none;'>
			<label for="checkbox-incoming" id='lblIncoming' style='display: none;'>Show incoming damage</label>
		 </div>
		
		<br>
  
		<button id="btnShowDamage" style="width: 144; margin-left: 10;">Show details</button>

		<button id="btnCloseModal2" style="width: 144; margin-left: 10;">Close</button>
		<br>
		<br>
		<br>
	</div>
</div>





<!-- HOOTY MINIFY STUFF -->
<!-- HOOTY MINIFY STUFF -->
<!-- HOOTY MINIFY STUFF -->
<!-- HOOTY MINIFY STUFF -->
<!-- HOOTY MINIFY STUFF -->
<script src="static/vuestuff.min.js" type="text/javascript"></script>
<!-- <script src="static/vuestuff.js" type="text/javascript"></script> -->


</body>



</html>