<html>

<head id='h-head'>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">


	<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
	<!-- font-family: 'Roboto', sans-serif; -->

	
	<script src="https://unpkg.com/axios/dist/axios.min.js" type="text/javascript"></script>
	<script src="https://momentjs.com/downloads/moment.min.js" type="text/javascript"></script>
	
	<!-- D3 Production Version -->
	<script src="https://d3js.org/d3.v5.min.js" type="text/javascript"></script>
	<!-- D3 Local Version -->
	<!-- <script src="d3/d3.js"></script> -->


	<!-- VUE Dev Version -->
	<!-- VUE Dev Version -->
	<!-- VUE Dev Version -->
	<!-- VUE Dev Version -->
	<!-- VUE Dev Version -->
	<!-- VUE Dev Version -->
	<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" type="text/javascript"></script>  -->
	<!-- VUE Production Version -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js" type="text/javascript"></script>

	<!-- HOOTY MINIFY STUFF -->
	<!-- HOOTY MINIFY STUFF -->
	<!-- HOOTY MINIFY STUFF -->
	<!-- HOOTY MINIFY STUFF -->
	<!-- HOOTY MINIFY STUFF -->
	<!-- <link rel="stylesheet" type="text/css" href="static/styles.css"/>
	<script src="static/hf.js" type="text/javascript"></script>
	<script src="static/client.js" type="text/javascript"></script> -->

	<link rel="stylesheet" type="text/css" href="static/styles.min.css" />
	<script src="static/hf.min.js" type="text/javascript"></script>
	<script src="static/client.min.js" type="text/javascript">	</script>


	<!-- <script type='text/javascript'>

		let styles = document.createElement('link');
		styles.rel = 'stylesheet';
		styles.type = 'text/css';
		styles.href = 'static/styles.css';

		let hf_js = document.createElement('script');
		hf_js.type = 'text/javascript';
		hf_js.src = 'static/hf.js';

		let client_js = document.createElement('script');
		client_js.type = 'text/javascript';
		client_js.src = 'static/client.js';

		document.getElementById('h-head').appendChild(styles);
		document.getElementById('h-head').appendChild(hf_js);
		document.getElementById('h-head').appendChild(client_js);

	</script> -->



	<link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
	<link rel="icon" href="static/favicon.ico" type="image/x-icon">


	<title>PUBG Trees</title>
	<meta name="description" content="Search your recent PUBG games for match details about damage and kills.">

</head>


<center>
	<div class='top-boxes' style='width:700px; margin-bottom: 180px;'>

		<a href='https://www.pubgtrees.com'>
			<div class='cube' style='width: 320px; height: 130px; float: left;'">
				<!-- <a href='https://www.pubgtrees.com' style='font-size: 24px;'>PUBG Trees</a>	 -->
				<div style="font-size: 24px; font-weight: bold; text-decoration: underline; margin-top: 30px;">PUBG Trees</div>
				<div style='font-weight: normal; font-size: 14px;'>
					built by hooty__
					<br>
					version 0.047
				</div>
				<br>
			</div>
		</a>


		<a href="javascript:openTwitter()">
			<div class="cube" style='width: 320px; height: 130px; float:right'>
				<br>
				<img src='static/images/twitter-icon-purple-40x40.png' style='cursor: pointer; margin-top: 10px;'>
				<br>
				@pubgtrees
				<br>
				<br>
			</div>
		</a>

		<br>

	</div>
</center>


<body>

<!--
    font-family: 'Roboto Condensed', Calibri, sans-serif;
    font-size: 14px;

	div {
	border:1px; 
	border-color:#d0d0d0; 
	border-style:solid;
}
-->



<div id='search-div'>

	<br>
	<br>


	<!--
	<input type="radio" name="platform" id="rdoSteam" value="steam" checked>Steam
	<input type="radio" name="platform" id="rdoPS4" value="psn">PS4
	<input type="radio" name="platform" id="rdoXbox" value="xbox">Xbox
	<input type="radio" name="platform" id="rdoConsole" value="console">Console
	<br>
	<br>
	-->

	<div id='test-version-indicator' v-if="blTestingVersion === true">
	<span style='font-weight: bold; font-size: 20px; color:#60b6f0'>TESTING VERSION</span>
	</div>

	<select id="slcPlatform" style='width: 100; height: 32px; margin-top: 10px;'>
		<option value="psn">PS4</option>>
		<option value="stadia">Stadia</option>>
		<option value="steam" selected="selected">Steam (PC)</option>
		<option value="tournament">Tournament</option>>
		<option value="xbox">Xbox</option>>
	</select>
	
	<input  id="inputPlayerName" placeholder="Enter a player's name and click search..." style='width: 320; height: 32px;'>
	<button id="btnSearchPlayer" style='width: 100;'>Search</button>

	<br>
	<input type="checkbox" id="checkbox-setDefault" name="default" style='margin-top: 10px;'>
	<label for="checkbox-setDefault" id='lblDefault'>Set as default player</label>

	<br>
	<br>
	<br>
	
</div>




<div id="fetching" style="display:none;">
	<br>
	<span style='font-size: 24px;''>fetching from server...</span>
</div>




<div id='vueapp' style="display:none;">
	<br>

	<center>

	<table>
		<thead>
			<tr>
				<th>Age</th>
				<th>Humans</th>
				<th>Ranked</th>
				<th>Map</th>
				<th>Mode</th>
				<th>Place</th>
				<th style="padding: 4px;">Kills</th>
				<th style="padding: 4px;">Knocks</th>
				<th style="padding: 4px;">Dmg</th>
				<th>Team</th>
				<!-- <th>Inspect</th> -->
			</tr>
		</thead>
		<tbody>
			<tr class='matchRow'
				v-for='(match, index) in match_data' :match_prop='match' :key='match.matchId' :id="'matchRow' + index"
				v-on:click="analyzeMatch(match.matchId, index)"
			> 					
				<td style="border-radius: 6px 0px 0px 6px; text-align:center; width: 80px;">{{match.timeSinceMatch}}</td> 
				<td style="text-align:center; width: 50px">{{match.participantCount}}</td>
				<td style="text-align:center; width: 80px">{{resolveMatchType(match.matchType)}}</td>
				<td style="text-align:left; width: 60px">{{match.mapName.toUpperCase()}}</td>
				<td style="text-align:center; width: 80px">{{match.gameMode.toUpperCase()}}</td> 

				<td style="text-align:center; width: 50px">#{{match.winPlace}}</td> 
				<td style="text-align:center; width: 50px">{{match.kills}}</td> 
				<td style="text-align:center; width: 50px">{{resolveKnocks(match.gameMode, match.DBNOs)}}</td> 
				<td style="text-align:center; width: 50px">{{match.damageDealt}}</td> 

				<td style="text-align:left; border-radius: 0px 6px 6px 0px; text-align:left; padding-right: 14px;">{{printRoster(match.teamRoster, match.strPlayerName)}}</td>
				<!-- <td style="border-radius: 0px 6px 6px 0px; text-align:left;"> 
					<button v-on:click="analyzeMatch(match.matchId, index)"
							style='width: 60; margin-left: 10; margin-right: 10'>View</button> 
				</td> -->
			</tr>
		</tbody>
	</table>

	<br>

	<p style='font-style: italic; color:#98a0a6'>* Match data is not available until a few minutes after a game has completed. *</p>
	

	<table>
		<tr> 
			<td><button id="btnPreviousMatches" style="display:none; width: 160; margin-right: 10;">Previous matches</button></td> 
			<td><button id="btnNextMatches"     style="display:none; width: 160; margin-left:  10;">Next matches</button></td>  
		</tr>
	</table>
	<br>

	</center>
</div>


<div id='div-analyzing' style='display: none'>
	<br>
	<span style='font-size: 24px;''>analyzing match...</span>
</div>



<!-- <div id='d3-tree01' style='display: none; height: 800; width: 1240; overflow: auto'>
	<svg id='d3-svg01' style='height: 2000; width:3000; overflow: auto;'></svg>
</div> -->
<div id='d3-tree01' style='display: none; width: auto; overflow: auto;'>
	<center>

		<br>
		<table>
		<tr class='matchRow' style="cursor: auto;"> 
			<td style="border-radius: 6px 0px 0px 6px; text-align:center; width: 80px;">{{createdAt}}</td>
			<td>Humans: {{participantCount}}</td>
			<td>Ranked: {{matchType}}</td> 
			<td>{{mapName}}</td>
			<td>{{gameMode}} </td>
			<td style="border-radius: 0px 6px 6px 0px; padding-right: 14px;">Duration: {{duration}}</td>
		</tr>
		</table>


		<div id='div-d3-tree' style="overflow: auto;">
			<br>
			<svg id='d3-svg01'>
			</svg>

			<svg id='svg02' height='300' width=300 style='display: none;'>
				<rect id='selectedPlayerRectangle' x="10" y="10" width="144" height="18" fill="#303032" rx='3' ry='3'/>
				<!-- <rect id='killerRectangle' x="10" y="30" width="140" height="18" fill="#1b1b1b" rx='4' ry='4'/> -->
			</svg>
		</div>


		<!-- <div id='div-cycle-footnote' style='font-style: italic; color:#98a0a6'>
			<br>
			<span>** Circular kills occur if two players kill each other. If they kill each other, they are removed 
				from the normal flow of kills since they derive from each other and that is a loop, not a branch.</span>
			<br>
		</div> -->


		<div style='background-color: #343436; width: 460px; border-radius: 6px; cursor: pointer;' onclick="ShowTreeHintModal()">
			<span style='margin: 10px; font-style: italic; color: #98a0a6;'>What is this tree and how does it work? What is all of this?</span>
			<button id='btn-tree-help' style='font-size: 22px; margin: 10px; cursor: pointer;'>?</button>
		</div>

		<br>
		<br>
			
		<button id="btnCopyMatchURL" style='width: 120; margin-bottom: 10px;'>Copy match URL</button>
		<br>
		<br>

	</center>
</div>

<br>


<div id='div-treehint-modal' style='display: none;'>
	<!-- show this display when they click on "what is this tree?" -->

	<div id='tree-hints' style='margin-top: 40px; margin-bottom: 40px; width:600px; display:inline-block; overflow: auto;'>
		<span id='btnCloseTreeHintModal'>&times;</span>

		<center>


		<div style="width: 540px; text-align: left; padding: 10px; margin-top: 14px;">
			<p> 
				This is a basic heirarchical view of kills for each player starting with the surviving winners on the left.
				To the immediate right, the winners' kills are connected by the lines. To the right of those victims are their
				own kills, and so on and so forth. 				
			</p>

			<p>
				There are several categories of kill types since not every player will always be killed by somebody who ultimately
				gets killed by a surviving winner. For example, a player might accidentally kill themselves or get killed by the 
				redzone. Those types of kills have their own branches below the winners.
			</p>

			<p>
				The trees are categorized as follows: 
				<ul>
					<li><b>Winners:</b> These are the last living survivors followed by their victims and their victims' victims.</li>
					<li><b>Self kills:</b> These are the people who died to themselves by, for example, an accidental grenade kill or fall damage. </li>
					<li><b>Circular kills:</b> If two players kill each other, they will cancel out of the hierarchy since it requires each player
						to flow into another player. If they killed each other, they only flow into themselves and the killer will have a victim who
						is also their own killer. I have over explained this. If you see "circular kills" listed, then there was an occurrance of 
						this. Otherwise, you won't see this category.</li>
					<li><b>Environment:</b> for kills by the bluezone, redzone, etc.</li>
				</ul>
			</p>

			<br>
			<p>
				<b>Context colors:</b> When you click a player, the colors will show the context of that player, their teammates, their killer, and their killer's teammates.
				Once they are selected, you can click them again and their activity log will be opened so that you can see the damage and kill details down to 
				every very bullet of damage.
			</p>

			<!-- <br>
			1) Click a player to see their context colors in relation to teammates and killers.
			<br>
			2) Once selected, click the player again to see their damage/kill log.
			<ul>
				<li>Click a player to highlight their context in relation to teammates and killers.</li>
				<li>Once selected, click the player again to see their damage/kill log.</li>
			</ul> -->
		</div>

		<span style='font-style: italic; color:#98a0a6'>Here's what the colors mean... </span>
		<div style='text-align: left;
					width: 300px; 
					border-radius: 10px; 
					padding-left: 10px;
					padding-right: 10px;
					border: 1px solid #60b6f0'>
			<table style='padding-left: 10px; padding-right: 10px; padding-top: 8px; padding-bottom: 8px;
							font-family:Roboto Condensed;
							font-weight: bold;'>
				<tr> <td style='background-color: #303032; border-radius: 6px;'><span class="selectedPlayer">Selected player</span></td> 		<td><span class="killer">Player's killer</span></td>  </tr>
				<tr> <td style="width: 120px;"><span class="playerTeammate">Player's teammates</span></td> 	<td style="width: 120px;"><span class="killerTeammate">Killer's teammates</span></td>  </tr>
				<tr> <td><span class="humanPlayers">Human players</span></td> 			<td><span class="botPlayers">Bot players</span></td>  </tr>
				<tr> <td><span class="winner">Winners</span></td>				<td><span class="searchedPlayer">Searched player</span></td> </tr>
			</table>
		</div>

		<br>
		<br>

		<button id='btnCloseTreeHintModal2'>Close</button>
		<br>
		<br>


		</center>
	</div>

</div>




<div id='div-modal'>
	<div id='player-report' style='margin-top: 40px; margin-bottom: 40px; width:980px; display:inline-block;  overflow: auto;'>
		<span id='btnCloseModal'>&times;</span>
		<center>
		<br>
		<br>
		
		<!-- <div id='botReportDisclaimer' style="width: 580px; border: 1px solid #60b6f0; border-radius: 4px; padding: 4px;">
			<span style="font-style: italic; font-size: 16px; color: #60b6f0;">
				Hey read this! 
				<br>
				<br>
				Collected data for bots may be inaccurate so don't rely too much on anything shown here. 
				<br>
				I'd rather not show any bot information but here it is anyway as a best effort. 
			</span>			
		</div> -->


		<!-- Report header with name and game stats -->
		<div id='div-reportStats' style='background-color: #67676b; width: 760px;  border-radius: 6px;'>
			<center>
			<table>
				<tr>
					<td>
						<div style="display: inline;">
							<span class='spanBoxy spanBoxyName'
								  style="height: 48px; text-align: center; font-size: 38px;"
								  :class='{ winner : isWinner }'
								  v-on:click='SearchNewPlayer(selectedPlayer)'
							>{{selectedPlayer}} <img src='static/images/new_window-20.png'>
							</span>
						</div>
					</td>

					<td>
						<div style='display: inline;'>
							<span class='spanBoxy' :class='{ winner : isWinner }' style='width: 148px;'>Placement: #{{winPlace}}</span> 
							<span class='spanBoxy' :class='{ winner : isWinner }' style='width: 147px;'>Time survived: {{timeSurvived}}</span>
							<br>
							<span class='spanBoxy' style='width: 88px;'>Kills: {{kills}}</span>
							<span class='spanBoxy' style='width: 88px;'>Knocks: {{DBNOs}}</span>
							<span class='spanBoxy' style='width: 88px;'>Damage: {{damageDealt}}</span>
							<br>
							<span class='spanBoxyLight' style='width: 88px;'>Head: {{headPercentage}}%</span>
							<span class='spanBoxyLight' style='width: 88px;'>Body: {{bodyPercentage}}%</span>
							<span class='spanBoxyLight' style='width: 88px;'>Pelvis: {{pelvisPercentage}}%</span>
							<br>
							<span class='spanBoxyLight' style='width: 88px;'>Arm: {{armPercentage}}%</span>
							<span class='spanBoxyLight' style='width: 88px;'>Leg: {{legPercentage}}%</span>
						</div>
					</td>
				</tr>
			</table>
			</center>
		</div>

		<br>
		<br>


		<!-- Reporting rows -->
		<center>

			<!-- Show alternate if there was no damage incoming or outgoing... -->
			<div id='alt-reportTable' style='display: none;'> 
				* Player had no damage or kill activity in the round. *
			</div>

			<table id='reportTable' style="margin-left: 20px; margin-right: 20px; ">
				<thead>
					<tr>
						<th style="width: 40px;">Time</th>
						<th style="width:130px; text-align: right;">Attacker</th>
						<th :class="{ tdHidden: isHideTeamId}">Team</th>
						<th :class="{ tdHidden: isHidden}">Hlth</th>
						<th style="text-align: center;">Dmg</th>
						<th :class="{ tdHidden: isHidden}">Hlth</th>
						<th :class="{ tdHidden: isHideTeamId}">Team</th>
						<th style="width: 130px; text-align: left;">Victim</th>
						<th>Weapon</th>
						<th style="width: 40px;" :class="{ tdHidden: isHidden}">Dist</th>
						<th :class="{ tdHidden: isHidden}"></th>
						<th>Info</th>
						<th>Zone</th>
					</tr>
				</thead>
		
				<tbody>
					<tr class='reportRow'
						:class='reportRow.rowClass'
						v-for='(reportRow, index) in arrPlayerReport' :key='reportRow.rowId'
					>
						<td style='border-radius: 6px 0px 0px 6px; text-align: center;'>{{reportRow.matchTime}}</td>
						<td :class='[reportRow.attackerClass, reportRow.attackerClickable]'
							:onclick='reportRow.attackerOnClick'
							style='text-align: right; font-weight: bold;'
						>{{reportRow.attacker}}</td>
						<td style="text-align: center; color: #98a0a6;" :class="{ tdHidden: isHideTeamId}">{{reportRow.attackerTeamId}}</td>
						<td style='text-align: center;' :class="{ tdHidden: isHidden }">{{reportRow.attackerHealth}}</td>
						<td style='text-align: center; font-weight: bold;'>{{reportRow.event}}</td>
						<td style='text-align: center;' :class="{ tdHidden: isHidden }">{{reportRow.victimHealth}}</td>
						<td style="text-align: center; color: #98a0a6;" :class="{ tdHidden: isHideTeamId}">{{reportRow.victimTeamId}}</td>
						<td :class='[reportRow.victimClass, reportRow.victimClickable]'
							:onclick='reportRow.victimOnClick'
							style='font-weight: bold;'
						>{{reportRow.victim}}</td>
						<td>{{reportRow.damagerInfo}}</td>
						<td style='text-align: right;' :class="{ tdHidden: isHidden}">{{reportRow.distance}}</td>
						<td style='text-align: center;' :class="{ tdHidden: isHidden}"><img :src='reportRow.armor'></td>
						<td style='text-align: left; width: 130px; word-break: break-word;' >{{reportRow.info}}</td>
						<td style='border-radius: 0px 6px 6px 0px; text-align: left; padding-right: 10px;'>{{reportRow.zone}}</td>
					</tr>
				</tbody>
			</table>
		</center>

		<br>
		
		<div id='div-winBanner' style='margin: 20px;'>
			<span style='color: #7ada9e; background-color: #262628; 
						font-size: 20px; font-weight: bold; 
						border: 1px solid #7ada9e; border-radius: 6px; padding: 10;'>Winner winner chicken tenders: {{selectedPlayer}}</span>
			<br>
			<br>
		</div>

		<div id='div-loseBanner' style='margin: 20px;'>
			<span style='color: #60b6f0; background-color: #262628; 
						font-size: 20px; font-weight: bold; 
						border: 1px solid #60b6f0; border-radius: 6px; padding: 10;'>{{selectedPlayer}} finishes at #{{winPlace}}.</span>
			<br>
			<br>
		</div>

		<!-- <span class='spanBoxy'>╳ &ensp; Kill</span>
		<span class='spanBoxy'>▼ &ensp; Knock</span>
		<span class='spanBoxy'>∧ &ensp; Revive</span>
		<br> -->


		<div>
			<!-- <input type="checkbox" id="checkbox-outgoing" name="outgoing" checked>
			<label for="outgoing">Show outgoing damage</label> -->

			<input type="checkbox" id="checkbox-incoming" name="incoming" style='display: none;'>
			<label for="checkbox-incoming" id='lblIncoming' style='display: none;'>Show incoming damage</label>

			<input type="checkbox" id="checkbox-teamId" name="cbTeamId" style='display: none;'>
			<label for="checkbox-teamId" id='lblTeamId' style='display: none;'>Show team ID</label>

			<input type="checkbox" id="checkbox-teamDeaths" name="cbTeamDeaths" style='display: none;'>
			<label for="checkbox-teamDeaths" id='lblTeamDeaths' style='display: none;'>Show teammate up/down</label>
		</div>
		
		<br>
  
		<button id="btnShowDamage" style="width: 144; margin-left: 10;">Show details</button>

		<button id="btnCloseModal2" style="width: 144; margin-left: 10;">Close</button>
		<br>
		<br>
		<br>
	</div>
</div>









</body>




<footer>

	<!-- HOOTY MINIFY STUFF -->
<!-- HOOTY MINIFY STUFF -->
<!-- HOOTY MINIFY STUFF -->
<!-- HOOTY MINIFY STUFF -->
<!-- HOOTY MINIFY STUFF -->
<!-- <script src="static/vuestuff.js" type="text/javascript"></script> -->
<script src="static/vuestuff.min.js" type="text/javascript"></script>

</footer>


</html>
