body {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
    color: rgb(240, 234, 232);
    background-color: #1b1b1b;
}

button {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
    color: rgb(240, 234, 232);
    background-color: #82759c;
	border: 1px solid whitesmoke;
}

input {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
}

select {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
}

text {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
}

th, td {
	color: #dcddde;
}


text.categories {
	fill: #c0ace0;
}

text.bot {
	fill: #60b6f0;
}



text.selectedPlayer {
	fill: #60b6f0;
}

text.playerTeammate {
	fill: #7dde98;
}

text.killer {
	fill: #f07d60;
}

text.killerTeammate {
	fill: #ffbb71;
}

text.tradedPaint {
	fill: #efb8df;
}



text.darkText {
	fill: #98a0a6;
}

text.lightText {
	fill: #dcddde;
}

svg#d3-svg01 {
	border: 2px solid #60b6f0;
	border-radius: 10px;
	margin-top: 10;
	margin-bottom: 20;
}

div#search-div, div#vueapp, div#d3-tree01 {
	border-radius: 10px;
	background-color: #414144;
	margin-left: 14;
	margin-right: 14;
}

