body {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
    color: rgb(240, 234, 232);
	background-color: #1b1b1b;
	text-align: center;
}

div {
	text-align: center;
}

button {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
    color: rgb(240, 234, 232);
    background-color: #82759c;
	border: 1px solid #dcddde;
	border-radius: 4px;
}

input {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
	border-radius: 4px;
	margin-left: 6px;
	margin-right: 6px;
}

select {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
	border-radius: 4px;
}

text {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
}

table {
	font-size: 14px;
}



tr.matchRows {
	background-color: #313135;
}

th, td {
	color: #dcddde;
	padding: 6px;
}



text.categories {
	fill: #7dde98;
}

text.allPlayers {
	fill: #dcddde;
}

text.humanPlayers {
	fill: #dcddde;
}

text.botPlayers {
	fill: #98a0a6;
}

text.selectedPlayer {
	fill: #60b6f0;
}

text.playerTeammate {
	fill: #60b6f0;
	/* fill: #c0ace0; */
}

text.killer {
	fill: #ffbb71;
	/* fill: #f07d60; */
}

text.killerTeammate {
	fill: #ffbb71;
	/* fill: #f07d60; */
}

text.tradedPaint {
	fill: #efb8df;
}


span.botPlayers {
	color: #98a0a6;
}

span.selectedPlayer {
	color: #60b6f0;
}

span.playerTeammate {
	color: #c0ace0;
}

span.killer {
	color: #ffbb71;
	/* color: #f07d60; */
}

span.killerTeammate {
	color: #ffbb71;
	/* color: #f07d60; */
}


svg#d3-svg01 {
	border: 2px solid #60b6f0;
	border-radius: 10px;
	margin-top: 20;
	margin-bottom: 20;
	margin-left: 20;
	margin-right: 20;
}

div#search-div, div#vueapp, div#d3-tree01 {
	border-radius: 10px;
	background-color: #414144;
	margin-left: 14;
	margin-right: 14;
}


